<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout ::site-head">
<title>Klaser monet</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
</head>

<body>
  <header th:replace="layout :: site-header" />
  <div>
    <h2 th:text="#{title.list}" style="display: inline;">Lista monet</h2>
  </div>
  
  <div class="listaMonet" th:unless="${#lists.isEmpty(coinsAll)}">
    <table>
      <thead>
        <tr>
          <th th:text="#{klaser.numerKatalogowy}">numerKatalogowy</th>
          <th th:text="#{klaser.nominal}">nominal</th>
          <th th:text="#{klaser.opis}">opis</th>
          <th th:text="#{klaser.waluta}">waluta</th>
          <th th:text="#{klaser.cenaNabycia}">cenaNabycia</th>
          <th th:text="#{klaser.dataNabycia}">dataNabycia</th>
          <th th:text="#{klaser.krajPochodzenia}">krajPochodzenia</th>
          <th th:text="#{klaser.status}">status</th>
          <th th:text="#{klaser.operacje}">operacje</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="coin : ${coinsAll}">
          <form action="#" th:action="@{/monety}" th:object="${coin}" method="post">
          <td th:text="${coin.numerKatalogowy}">1</td>
          <td th:text="${coin.nominal}">100</td>
          <td th:text="${coin.opis}">Długi opis</td>
          <td th:text="${coin.waluta}">zł</td>
          <td th:text="${{coin.cenaNabycia}}">5.12</td>
          <td th:text="${{coin.dataNabycia}}">2011/13/01</td>
          <td th:text="${coin.krajPochodzenia}">Polska</td>
          <td th:text="#{${'klaser.status.' + coin.status}}">Nowa</td>
          <td>
            <button type="submit" name="remove" th:value="${coin.numerKatalogowy}" th:text="#{klaser.remove}">Dell</button>
            
            <a href="moneta.html" th:href="@{|/monety/${coin.numerKatalogowy}|}" ><button type="button" th:text="#{klaser.edit}">Editt</button></a>              
          </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="layout :: site-footer" />
</body>
</html>